.setSize {
    max-width: 200px;
    max-height: 200px;
    margin-left: 2rem;
    border-radius: 5px;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-style: dashed;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;

}

.slider-text {
    white-space: nowrap;
    animation: slideText 60s linear infinite;
}

@keyframes slideText {
    50% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-80%);
    }
}