.examRowInner {
    background-color: #7FC7D9;
    border-left: 4px solid #ffffff;
    border-radius: 4px;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}

th,
td {
    padding: 4px;
    text-align: left;
}

th {
    /* background-color: #f2f2f2; */
    border-collapse: collapse;

}

table,
th,
td {
    border-collapse: collapse;

}

.mainExam {
    min-height: 50rem;
}